*.pyc
*.sw?
.selenium_log
.coverage*
.noseids
.DS_STORE
*.mo
coverage.xml
nosetests.xml
pep8.txt
pylint.txt
reports
xcatuiweb.egg-info
doc/build/
doc/source/sourcecode
.venv
.tox
.idea
build
dist
AUTHORS
ChangeLog
tags
